<section class="board-container">
  <div class="board">
    <div class="row odd">
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>
     <div class="row even">
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>
    <div class="row odd">
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>
     <div class="row even">
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>
    <div class="row odd">
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>
     <div class="row even">
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>
    <div class="row odd">
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>
     <div class="row even">
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>
  </div>

  <div class="image" >
    <%= link_to image_tag('white-bishop.png'), game_path%>
    <%= link_to image_tag('black-bishop.png'), piece_path %>
    <%= link_to image_tag('white-king.png'), piece_path %>
    <%= link_to image_tag('black-king.png'), piece_path %>
    <%= link_to image_tag('white-knight.png'), piece_path %>
    <%= link_to image_tag('black-knight.png'), piece_path %>
    <%= link_to image_tag('white-pawn.png'), piece_path %>
    <%= link_to image_tag('black-pawn.png'), piece_path %>
    <%= link_to image_tag('white-queen.png'), piece_path %>
    <%= link_to image_tag('black-queen.png'), piece_path %>
    <%= link_to image_tag('white-rook.png'), piece_path %>
    <%= link_to image_tag('black-rook.png'), piece_path %>
</div>
</section>

<script>
$(function() {
  function equalHeight(selector){
    var cw = $(selector).width();
    $(selector).css({'height':cw+'px'});
  }

  equalHeight('.square');

  $( window ).resize(function() {
    equalHeight('.square');
  })
})
</script>
